$couleur-principale:rgb(35, 158, 189);
$largeur:600px;
$container:960px;
$sidebar:$container - $largeur;

$bp-mobile: 30em;
$bp-tablet: 60em;

/* $susy: (
    math: static,
    column-width:4em
) */